@calendar_default_color: #0594CD;

.calendar-container {
    margin:10px;
    padding: 0;
    font-size: 15px;

    .loading-indicator{
        background-color: rgba(0, 0, 0, 0.02);
    }

    .calendar-control{
        max-width: 1000px;
        margin: 0 auto;

        button {
            color:@calendar_default_color;
            background-color: transparent;
            background-image: none;
            border-color: @calendar_default_color
        }

        .fc-event {
            background-color: @calendar_default_color;
        }

    }
}
